@import 'assets/style/global';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue-3/dist/bootstrap-vue-3.css';

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #f2f4f8;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100vh;
    background-color: aliceblue;
}

nav {
    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}